@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./libraries/_nprogress.css";
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
body {
    font-family: 'Shantell Sans', cursive;
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}