@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./libraries/_nprogress.css";

/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
body {
    font-family: "tilt Neon", cursive
}

@media only screen and (max-width:800px) {
    body {
        font-family: 'Helvetica Neue', sans-serif
    }
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}