@import 'nprogress/nprogress.css';
#nprogress .bar {
    background-color: #fff;
}
#nprogress .bar::before {
    content: "Loading...";
    position: absolute;
    right: 0;
    top:0;
    color: rgb(255, 0, 0);
    font-weight: 700;
}